.chefpreneur-logo-img{
	height: auto;
	margin-top: 10%;
}
.cd{
	background-color: red;
	border: 2px solid black;
}

.register-link{

}
.ab{
	color: white;
	background: black;
	height: -webkit-fill-available;
}
.icons{
	margin: 50px 0px 10px 10px;
	float: right;
}

.fa{
	border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook:hover {
	color: white;
	text-decoration: none;
}
.fa-twitter:hover {
	color: white;
	text-decoration: none;
}
.fa-linkedin:hover {
	color: white;
	text-decoration: none;
}
.fa-instagram:hover {
	color: white;
	text-decoration: none;
}
.fa-snapchat-ghost:hover {
	color: white;
	text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-bars{
	color: black;
	font-size: 200%;
}
#menubtn{
	border:none;
	background: none;
	margin: 5px;
	color:white;	
}

.alert{
	width: fit-content;
}

@media only screen and (max-width: 1200px) {
  	.btnText{
		font-size: 75%;
	}
	
}
@media only screen and (max-width: 600px) {
  	
	.icons dl dd{
		display: inline;
	}
}
#menu ul li{
	background-color: #1F2833;
	color: white;
}
#menu ul li a{
	color:#66FCF1;	
	text-decoration: none;
}
#menu ul li a:hover{
	color:#45A29E;
}
body{
	background-color: #1F2833;
	color:#C5C6C7;
}
hr{
	border-color:#4E4E50;
}
.media img{
	border-radius:10px;
}
video{
	width: 100%;
}

